
.radio-filter label>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #BDBDBD;
  border-radius: 100%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.radio-filter label>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/*Активный чекбокс*/
.radio-filter label > input:checked + span:before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../../../pages/ProductListPage/icons/radio-filter.png");
  background-size: 10% 10%;
}