html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
}


.card-of-product {
  display: flex;
}

@media (max-width: 1500px) {
.card-of-product{
  display: block;
}
}

.card-of-product__sel-prof-info {
  min-width: 25%;
  margin-right: 2%;
}

.card-of-product__pic-sel {
  min-width: 33%;
  margin-right: 2%;
}

.card-of-product__main-card-info {
  min-width: 37%;
  margin-right: 2%;
}


/* Checkbox в форме сердечка */

label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  color: #0D6EFD;
}


input[type="checkbox"] + label:before {
  content: url(./components/assets/icons/heart.svg);
  top: -16px;
  left: -8px;
  border: 1px solid transparent;    
  padding: 10px;
  border-radius: 3px;
  display: block;
  position: absolute;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid transparent;
  background-color: transparent;
}

input[type="checkbox"]:checked + label:after {
  content: url(./components/assets/icons/heart2.svg);
  font-size: 18px;
  position: absolute;
  top: -5px;
  left: 3px;
  -webkit-transition:all .5s ease ;
  transition:all  .5s ease;
}

.card-of-product__sel-prof-info__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}