/*styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/*Simple normalize*/
*, *:after, *:before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;
}
/*main*/
body{
    background: #F7FAFC;
    
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}